* { box-sizing:border-box; }

body {
	height: 80vh;
	width: 95vw;
	margin: auto;
	font-family: Helvetica;
	background: #eee;
  -webkit-font-smoothing: antialiased;
}

.controls {
	width: 100%;
	height: 80vh;
	margin: auto;
	padding: 2vh 1vw 0 2vw;
	background: #F5F5F5;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

h3 {
	font-size: 2.5vh;
	font-weight: 200;
	color: #4a89dc;
	text-align:center;
}

ul {
	border-radius: 4px;
    list-style-type: none;
	width:100%;
	margin: auto;
	margin-bottom: 2vh;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #F5F5F5;
}

li {
    float: left;
}

li a {
	font-size: 2vh;
	border-radius: 4px;
    display: block;
    color: #666;
    text-align: center;
    padding: 2vh 1vw;
    text-decoration: none;
    transition-duration: 0.2s;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

li.logout {
	float:right;
	background-color: rgba(182,182,182,0.32);
}

li a.logout:hover {
	background-color: rgba(159,159,159,0.58);
}

div.hide {
	display:none;
}

div.left {
	padding-top: 1vh;
	width: 25%;
	float: left;
}

div.right {
	padding-left: 1.5vw;
	padding-right: 0.5vw;
	width: 75%;
	float: right;
}

fieldset {
	border-radius:4px;
	background: rgba(137,163,207,0.13); 
	padding: 3vh 1.5vw;
	border-color:rgba(154,154,154,0.40);
}

legend {
	color:#A8A8A8;
	font-size:2vh;
	background:rgba(244,244,255,0.65);
	-moz-border-radius:4px;
	box-shadow: 0 1px 5px rgba(146,146,146,0.99);
	padding: 0.8vh 1vw;
	font-family:Helvetica, sans-serif;
	font-weight:bold;
}

input.left_input {
	background: rgba(255,255,255,0.67);
	border: 1px solid #CCCCCC;
	color: #aaa;
	font-size: 2vh;
	width: 100%;
	margin: 2vh 0;
	padding: 1.5vh 1vw;

	border-radius:4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

.add_button {
	float: right;
    background-color: rgba(61,116,228,0.33);
    border: none;
	border-radius: 5px;
    color: white;
    padding: 2vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    margin-top: 2vh;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.add_button:hover {
	background-color: rgba(61,116,228,0.60);
}

#map {
	margin: 1vh auto;
	height: 70vh;
}

div.right_info {
	font-size: 2vh;
	text-align: center;
}

div.edit {
	height: 10vh;
	margin-top: 4vh;
    list-style-type: none;
	width:100%;
    background-color: #F5F5F5;
}

.stations_button {
	font-size: 2.2vh;
	background-color: rgba(144,162,167,0.26);
	border-style: outset 5px;
	box-shadow: 0 4px 8px 0 rgba(145,170,191,0.5), 0 6px 20px 0 rgba(145,170,191,0.5);
    overflow: hidden;
	height: 100%;
    display: block;
    color: #666;
    text-align: center;
    padding: 3.5vh;
    transition-duration: 0.2s;
    text-decoration: none;
}

.stations_button:hover {
	background-color: rgba(125,148,155,0.34);
	box-shadow: 0 4px 8px 0 rgba(113,150,172,0.6), 0 6px 20px 0 rgba(113,150,172,0.6);
}

select {
	font-size: 2vh;
	max-width: 20vw;
    border: 3px solid #608ACC;
    border-radius: 3px;
	padding: 1vh;
}

div.options_city {
	margin: 1.5vh 0 4vh 0;
}

div.options_pollutant {
	margin: 3.5vh 0 2vh 0;
}

table {
	margin: 2vh 0;
    border-collapse: collapse;
    width: 97%;
}

th, td {
	font-size: 2vh;
    text-align: center;
    padding: 1vh 1vw;
}

tr:nth-child(even){background-color: #E1E1E1}

th {
    background-color: #4CAF50;
    color: white;
}

div.scrollable {
	overflow: auto;
}

.strike {
	text-decoration:line-through;
}

form.delete_form {
	width: 67vw;
	float:right;
	height: 70vh;
	padding-left: 2vw;
}


.delete_button {
	margin: 2vh 2vw 0 0;
	float: right;
    background-color: rgba(159,0,0,0.49);
    border: none;
	border-radius: 5px;
    color: white;
    padding: 3vh 2.5vw;
    text-align: center;
    font-size: 2vh;
    cursor: pointer;
    transition-duration: 0.2s;
}


.delete_button:hover {
	background-color:rgba(159,0,0,0.67);
}

div.stats_left {
	width: 50%;
	float: left;
	padding: 1vh 2vw 0;
}

div.stats_right {
	width: 50%;
	float: right;
	padding: 1vh 0.5vw;
}

div.stats_info {
	border-style: outset 5px;
	box-shadow: 0 4px 8px 0 rgba(113,163,172,0.62), 0 6px 20px 0 rgba(113,163,172,0.62);
	padding: 2vh 0;
	margin: 1vh 10vw 2vh 10vw;
	text-align: center;
	font-size: 4.5vh;
}

div.info_top {
	color: #5B5B5B;
	font-size: 3vh;
	padding-top: 1vh;
	text-align: center;
	text-decoration: underline;
}

div.error {
	text-align: center;
	font-size:1.5vh;
	color:#cc0000;
	margin-top:2vh;
}

div.message {
	text-align: center;
	font-size:1.5vh;
	color:#5294F9;
	margin-top:2vh;
}